IO_LOC  "clk" 4;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "reset" 88;
IO_PORT "reset" IO_TYPE=LVCMOS33;

IO_LOC  "tx" 69;
IO_PORT "tx" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "rx" 70;
IO_PORT "rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "led[0]" 20;
IO_PORT "led[0]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "led[1]" 19;
IO_PORT "led[1]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "led[2]" 18;
IO_PORT "led[2]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "led[3]" 17;
IO_PORT "led[3]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "led[4]" 16;
IO_PORT "led[4]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "led[5]" 15;
IO_PORT "led[5]" DRIVE=8 IO_TYPE=LVCMOS33;
