LOCATE COMP "rx" SITE "H18";
IOBUF PORT "rx" IO_TYPE=LVCMOS33;

LOCATE COMP "tx" SITE "J17";
IOBUF PORT "tx" IO_TYPE=LVCMOS33;

LOCATE COMP "reset" SITE "H4";
IOBUF PORT "reset" IO_TYPE=LVCMOS33;

LOCATE COMP "led[7]" SITE "J16";
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[6]" SITE "L5";
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[5]" SITE "M4";
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[4]" SITE "R3";
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[3]" SITE "J18";
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[2]" SITE "P16";
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[1]" SITE "L4";
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "N4";
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "gpios[0]" SITE "R1";
IOBUF PORT "gpios[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "gpios[1]" SITE "U1";
IOBUF PORT "gpios[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "gpios[2]" SITE "W1";
IOBUF PORT "gpios[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "gpios[3]" SITE "M1";
IOBUF PORT "gpios[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "gpios[4]" SITE "T1";
IOBUF PORT "gpios[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "gpios[5]" SITE "Y2";
IOBUF PORT "gpios[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;
